{% extends "odin/base.html" %}
{% block title %}Add vocab{% endblock %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
<div class="container">
<div class="row">
  <div class="page-header"><h2>Add a vocab word</h2></div>
  <form action="" class="horizontal-form" method = "post">
  {% csrf_token %}
      <legend><h3>Add a vocab word to {{ topic_name }}.</h3></legend>

      <div class="form-group">
        <label class="col-md-1 control-label" for="word"></label>
        <div class="col-md-12">
          <label for="topic">Word: </label>
          <input id="word" type="text" name="word" placeholder="" class="form-control input-md" required autofocus>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-1 control-label" for="word"></label>
        <div class="col-md-12">
          <label for="topic">Definition: </label>
          <input id="definition" type="text" name="definition" placeholder="" class="form-control input-md">
        </div>
      </div>
    
       <div class="form-group">
        <label class="col-md-1 control-label" for="add_word"></label>
      <div class="col-md-10">
      <hr>
      </hr>
       <button type="Submit" value = "Add Word" class="btn btn-block btn-success">Add Word</button>
      </div>
   </form>
</div> <!--./row -->
</div> <!--./container -->
{% csrf_token %}
{% endblock %}


