{% extends "odin/base.html" %}
{% block title %}Add a link{% endblock %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
<div class="container">
<div class="row">
  <div class="page-header"><h2>Add a link</h2></div>
  <form action="" class="horizontal-form" method = "post">
  {% csrf_token %}
      <legend><h3>Add a link to {{ topic_name }}.</h3></legend>

      <div class="form-group">
        <label class="col-md-1 control-label" for="word"></label>
        <div class="col-md-12">
          <label for="topic">URL: </label>
          <input id="url" type="text" name="url" placeholder="" class="form-control input-md" required autofocus>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-1 control-label" for="word"></label>
        <div class="col-md-12">
          <label for="topic">Description: </label>
          <input id="description" type="text" name="description" placeholder="" class="form-control input-md">
        </div>
      </div>
    
       <div class="form-group">
        <label class="col-md-1 control-label" for="add_link"></label>
      <div class="col-md-10">
      <hr>
      </hr>
       <button type="Submit" value = "Add Link" class="btn btn-block btn-success">Add Link</button>
      </div>
   </form>
</div> <!--./row -->
</div> <!--./container -->
{% csrf_token %}
{% endblock %}


