{% extends "odin/base.html" %}
{% block title %}{{ name }}{% endblock %}

{% block content %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}" />
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="../../">Study Sherpa</a>
        </div>
        <div class="navbar-collapse collapse">
        <div class="navbar-collapse collapse">
        </div>
        </div>
      </div>

    </div>
    <hr>
    </hr>
    <hr>
    </hr>
  <div class="form-group">
      <form action="{% url 'all_topics'%}" method="get">
     <label class="col-md-1 control-label" for="go_back"></label>
     <div class="col-md-1">
      <button id="go_back" name="" class="btn btn-block btn-success" >Back</button></form>
    </div>
    <hr>
    </hr>
<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Vocabulary</h4>
            </div>
            <div class="timeline-body">
            <p>
            {% for vocab in vocab_words %}
            <h1>{{ vocab.word }}</h1>
            <p>{{vocab.definition}}</p>
            {% endfor %}
            </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Links</h4>
            </div>
            <div class="timeline-body">
            {% for link in links %}
             <p>
            <li>
            <p>{{ link.description }}</p>
            <a href="{{ link.url }}">{{ link.url }}</a>
             </li>
            </p>
            {% endfor %}
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Information</h4>
            </div>
            <div class="timeline-body">
              <p>{% for info in information %}
                <h1>{{ info.subtopic }}</h1>
                <p>{{ info.info }}</p>
                {% endfor %}</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Practice Problems</h4>
            </div>
            <div class="timeline-body">
              <p>{% for problem in practice_problems %}
                <h1>{{ problem.question }}</h1>
                <p>{{ problem.answer }}</p>
                {% endfor %}</p>
            </div>
          </div>
        </li>
    </ul>
</div>
</html>
{% endblock %}
