{% extends "odin/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% if user_exists %}
<p>A user with that email address or username already exists.</p>
{% endif %}

<h1>Create an account.</h1>
<form method="post">
{% csrf_token %}
<p><label for="username">Username</label>
    <input id="username" type="text" name="username" maxlength="20" /></p>
<p><label for="password">Password</label>
    <input id="password" type="password" name="password" /></p>
<p><label for="email">Email</label>
    <input id="email" type="email" name="email" /></p>
<input type="submit" value="Sign Up"/>
</form>


{% endblock %}