{% extends "odin/base.html" %}
<!DOCTYPE html>
{% block title %}Home{% endblock %}

{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jason Ginsberg and Amit Chowdhury">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Study Sherpa</title>

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">Study Sherpa</a>
        </div>
        <div class="navbar-collapse collapse">
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Log in</button>
            <button type="submit" class="btn ">Sign Up</button>

          </form>
        </div>
        </div>
      </div>

    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome.</h1>
        <p> Get a study guide. Get collaborators. Get practice problems. 
        </p>
        <p>Get an A!
        </p>
        <p>
        </p>
        <p><a class="btn btn-primary btn-lg" role="button">Get started &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
      </div>

      <hr>

      <footer>
        <p>&copy; Jason and Amit</p>
      </footer>
    </div> 

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
