{% extends "odin/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
{% block title %}Home{% endblock %}
{% block content %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>Home</title> 
    <meta property="og:title" content="">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox/jquery.fancybox-v=2.1.5.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    
    
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    
    <link rel="prefetch" href="images/zoom.png">
        
</head>

<body>
    <div class="navbar navbar-fixed-top" data-activeslide="1">
        <div class="container">
        
            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            
            <div class="nav-collapse collapse navbar-responsive-collapse" >
                <ul class="nav row">
                <li data-slide="1" class="col-1 col-sm-2"><a id="menu-link-1"> <img src="{% static 'image/navLogo.png' %}"style="width: 125px"></a></li>
                    <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="/accounts/create_account" title="Next Section"> <span class="text">Join</span></a></li>
                    <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="/accounts/login" title="Next Section"> <span class="text">Log In</span></a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
   
    <!-- === MAIN Background === -->
    <div class="slide story" id="slide-1" data-slide="1">
        <div class="container">
            <div id="home-row-1" class="row clearfix">
                <div class="col-12">
                    <h1 class="font-semibold">Study <span class="font-thin">Sherpa</span></h1>
                    <h4 class="font-thin">Learn from thousands of study guides added to Study Sherpa every day. Check out some of our <span class="font-semibold">most popular study guides</span>, or <span class="font-semibold">create your own.</span></h4>
                    <br>
                    <br>
                </div><!-- /col-12 -->
            </div><!-- /row -->
            <div id="home-row-2" class="row clearfix">
                <div class="col-12 col-sm-4"><div class="" data-slide="4"></div><span></span></div>
                <div class="col-12 col-sm-4"><div class="" data-slide="3"></div><span></span></div>
                <div class="col-12 col-sm-4"><div class="" data-slide="5"></div><span></span></div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /slide1 -->
    
    <!-- === Slide 2 === -->
    <div class="slide story" id="slide-4" data-slide="4">
        <div class="container">
                <div class="hr">&nbsp;</div>
                <div class="hr">&nbsp;</div>
            <div class="row subtitle-row">
                <div class="col-2"></div>
            </div><!-- /row -->
            <div class="col-1 col-sm-2 with-hover-text">
                   <a href="/topics"><img src="{% static 'image/categoryBox.png' %}"style="width: 600px"></a>
                </div>
        </div><!-- /container -->
    </div><!-- /slide2 -->
    <div class="slide story" id="slide-2" data-slide="2">
        <div class="container">
            <div class="row line-row">
        </div><!-- /container -->
    </div><!-- /slide2 -->
</body>

    <!-- SCRIPTS -->
    <script src="js/html5shiv.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
    <script src="js/script.js"></script>
    
    <!-- fancybox init -->
    <script>
    $(document).ready(function(e) {
        var lis = $('.nav > li');
        menu_focus( lis[0], 1 );
        
        $(".fancybox").fancybox({
            padding: 10,
            helpers: {
                overlay: {
                    locked: false
                }
            }
        });
    
    });
    </script>

</html>
{% endblock %}
